{% extends "base.html.twig" %}

{% block body %}
    
    <h1>Register Page</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.surname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.phoneNumber) }}
        {{ form_row(form.password) }}
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/vendor.js') }}"></script>
    
    {# common scripts and css #}
    <script src="{{ asset('build/app.js') }}"></script>
    
    {# page specific scripts #}
    <script src="{{ asset('build/register.js') }}"></script>
{% endblock %}