{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h1>Product add!</h1>

        {{ form_start(form) }}
            {{ form_row(form.name) }}
            <div id="category">
                <label>Category</label>
                <button id="product_category" type="button">Choose category</button>
            </div>
        {{ form_end(form) }}

        <a href="{{ path('store_dashboard', { 'slug': slug }) }}">Back to store main page</a>
    </div>
        
    {#  POPUP WINDOW (hidden in default) #}
    <div id="popup-wrapper">
      <div id="popup-content" class="animate">
        
        <div id="accordion" style="cursor: pointer;">
            {# all code generated with javascript #}
        </div>

      </div>
    </div>
    {#  POPUP WINDOW END  #}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/vendor.js') }}"></script>
    
    {# common scripts and css #}
    <script src="{{ asset('build/app.js') }}"></script>
    
    {# page specific script and css #}
    <script src="{{ asset('build/store_dashboard_product_add.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/product_add_style.css') }}"/>
{% endblock %}